{% extends 'main.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write email</title>
</head>

<body>

{% block content %}
<div class="container-fluid pt-auto" style="margin-top: 3%; ">
    <div class="h-100 d-flex align-items-center justify-content-center" style="margin-bottom: 3%;">
        <h1 class=" text-secondary text">If you want to contact me, you can send a message to my email</h1>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <form action="{% url 'contact' %}" method="post">
            {% csrf_token%}
            {% for f in form %}
            <p><label class="form-label" for="{{f.id_for_label}}">{{f.label}}: </label> {{ f }}</p>


            {% endfor %}
            <div class="d-flex align-items-center justify-content-center">
                <button type="submit" class="btn btn-dark">Send e-mail</button>
            </div>
        </form>
    </div>

</div>


{% endblock %}


</body>
</html>
