<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 href="/messenger">Here u can see my projects on Python</h1>

<h2><a href="/messenger">Unitum</a></h2>
<h2><a href="/tg_bot">MFBot</a></h2>
<h2><a href="/kv_app">Kivy app</a></h2>

</body>
</html>




{% extends 'main.html' %}

{% block content %}

<h1>Telegram bot for have information about weather</h1>
<a href="https://github.com/NIKITA-76/telegram_bot">Link on GitHub</a>

{% endblock %}
