{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" href="{% static 'blog_app/css/main.css'%}" rel="stylesheet">
    <link rel="icon" href="{% static 'blog_app/img/favicon.ico' %}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>dev_N76-PROJECT</title>
</head>
<body>
<div class="bg-dark collapse show" id="navbarHeader" style="">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">I am Tarasov Nikita python junior, who, in addition to other frameworks, is
                    currently studying
                    Django. This site is currently one of my main projects.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contact</h4>
                <ul class="list-unstyled">
                    <li><a href="https://github.com/NIKITA-76" class="text-white">Follow on my Github</a></li>
                    <li><a href="/contact_to_mail" class="text-white">Email me</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center">
            <strong>dev_N76-PROJECT</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
{% block content %}
<div class="container-fluid mb-auto" style="height: 130px;">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <h1 class=" text-secondary text">Here u can see my projects on Python at this point</h1>
    </div>
</div>
<div class="container-fluid mb-auto">


    {% for p in posts %}
    <div class="h-100 d-flex align-items-center justify-content-center animate">
        <h2 class="text"><a href="{{p.link}}" class="text-decoration-none"> {{p.title}} </a></h2>
    </div>
    <div class="h-100 d-flex align-items-center justify-content-center text">
        <h5>{{p.description}}</h5>
    </div>
    {% endfor %}


</div>
{% endblock %}

<footer class="foter">
    <div>
        <h3><a href="/login" class="text-muted">Sign in</a></h3>
    </div>
</footer>


</body>
</html>