<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 href="/messenger">Here u can see my projects on Python</h1>

<h2><a href="/messenger">Unitum</a></h2>
<h2><a href="/tg_bot">MFBot</a></h2>
<h2><a href="/kv_app">Kivy app</a></h2>

{% block content %}


<ul>
    {% for p in posts %}
    <li>
        <h2><a href= {{p.link}}> {{p.title}} </a></h2>
        <p>{{p.description}}</p>
    </li>
    {% endfor %}
</ul>

{% endblock %}


</body>
</html>