{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>N76-Project</title>
    <link rel="stylesheet" href="{% static 'blog_app/css/style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Karla:wght@200;300;400&family=Source+Code+Pro&display=swap"
          rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1000">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,
		maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">


    <meta name="description" content="Описание страницы до 140 слов">
    <meta name="keywords" content="Ключевые слова, до 14, слов">
    <meta name="robots" content="none">

    <meta name="Author" content="ya">
    <meta name="Copyright" content="ya">
    <meta name="Adress" content="moy dom">

    <meta hhtps-equiv="refresh" content="0; url=">


</head>

<body>
<div class="wrapper">
    <header class="header">
        <div class="header__logo">N76-PROJECT</div>
        <nav class="header__menu">
            <ul class="header__list">
                <li>
                    <a href="" class="header__link"></a>
                </li>
                <li>
                    <a href="" class="header__link"></a>
                </li>
                <li>
                    {% if request.user.is_authenticated %}
                    <a href="" class="header__link header__signout">Sign out</a>
                    {% else %}
                    <a href="{% url 'social:begin' 'github' %}" class="header__link header__signin">Sign in</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
        <div class="header__burger">
            <span></span>
        </div>
    </header>

    <main class="main">
        <aside class="sidebar">
            <nav class="sidebar_menu">
                <ul class="sidebar__list">
                    <li>
                        <a href="" class="sidebar__link">MenuPunkt</a>
                    </li>
                    <li>
                        <a href="" class="sidebar__link">MenuPunkt</a>
                    </li>
                    <li>
                        <a href="" class="sidebar__link">MenuPunkt</a>
                    </li>
                    <li>
                        <a href="" class="sidebar__link">MenuPunkt</a>
                    </li>
                </ul>
            </nav>
        </aside>

        <section class="content">

            <section class="profile">
                <div class="profile__items">
                    <div class="profile__item">
                        <a href="" class="profile__image">
                            <img src="{{user.3}}" alt="">
                        </a>
                        <div class="profile__text">
                            {% if user.4 == "" %}
                            *There should have been your description here, but you decided to remain a secretive guy... *
                            {% else %}
                            {{ user.4 }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>

            <section class="content__gallery gallery">

                <div class="gallery__items">
                    {% for url, name in repos.items %}
                    <div class="gallery__item">
                        <a href="" class="gallery__image">
                            <img src="{{name.3}}" alt="">
                        </a>
                        <a href="" class="gallery__text">{{name.2}}</a>
                    </div>
                    {% endfor %}
                </div>
            </section>

        </section>
    </main>

    <footer class="footer">
        <div class="footer__items">
            <div class="footer__about">
                <div class="footer__heading">
                    About
                </div>
                <div class="footer__text">
                    I am Tarasov Nikita python junior, who, in addition to other frameworks,
                    is currently studying Django.
                    This site is currently one of my main projects.
                </div>
            </div>
            <div class="footer__nav">
                <div class="footer__heading">
                    Contact
                </div>
                <nav class="footer__menu">
                    <ul class="footer__list">
                        <li>
                            <a href="" class="footer__link">Follow on my Github</a>
                        </li>
                        <li>
                            <a href="" class="footer__link">Email me</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer__copy">
                Copy,2022
            </div>
        </div>

    </footer>

</div>
</body>
</html>
